<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%= title %></title>
    <meta name="description" content="acg">
    <meta name="keywords" content="acg">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta http-equiv="Cache-control" content="no-cache">

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="bookmark" href="/images/favicon.ico">
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- base css-->
    <link rel="stylesheet" href="/base/dist/css/base.min.css">

    <!--page css-->
    <% stylesheets.forEach(function(style){ %>
    <link rel="stylesheet" href="<%= style %>">
    <% }) %>


    <script>
        (function () {
            var appWidth = 1300,
            zoom,
            scale = 1.0,
            ratio = 1,
            fontSize;

            if (window.devicePixelRatio >= 2) {
                scale *= 0.5;
                ratio *= 2;
            }

            var text = '<meta name="viewport" content="initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + ', width=device-width, user-scalable=no" />';

            document.write(text);

            function onresize(bit) {

                var width = document.documentElement.clientWidth;

                zoom = width / appWidth;

                zoom = zoom < 1 ? 1 : zoom;
                fontSize = ratio * zoom * 100;
                document.documentElement.setAttribute("style", "font-size:" + fontSize + 'px');

                if (!bit) {
                    window.onresize = function () {
                        onresize(true);
                    };
                }
                window.iACG ? window.iACG.zoom = zoom : window.iACG = {zoom: zoom};
            }

            onresize();
        })();
    </script>

    <script>
        window.pageName = "<%= pageName %>";
        window.DEBUG = "<%= debug %>" == 'true' ? true : false;
    </script>

    <!--base js-->
    <script src="/base/dist/js/base.min.js"></script>

    <!--page js-->
    <% javascipts.forEach(function(script){ %>
    <script src="<%= script %>"></script>
    <% }) %>

</head>
<body>
<div id="app">
</div>
</body>
</html>