<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%= title %></title>
    <meta name="description" content="Iacg">
    <meta name="keywords" content="Iacg">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta http-equiv="Cache-control" content="no-cache">

    <script type="text/javascript">
        //根据屏幕大小及dpi调整缩放和大小
        (function () {
            var scale = 1.0;
            var ratio = 1;
            if (window.devicePixelRatio >= 2) {
                scale *= 0.5;
                ratio *= 2;
            }
            var text = '<meta name="viewport" content="initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + ', width=device-width, user-scalable=no" />';
            document.write(text);
            document.documentElement.style.fontSize = 100 * ratio + "px";
        })();
    </script>

    <link rel="bookmark" href="/images/xr.png">
    <link rel="shortcut icon" href="/images/xr.png">

    <!--base css-->
    <link rel="stylesheet" href="/base/dist/css/base.min.css">

    <style>
        body {
            font-size: 0.14rem;
        }
    </style>

    <!--page css-->
    <% stylesheets.forEach(function(style){ %>
    <link rel="stylesheet" href="<%= style %>">
    <% }) %>


    <script>

    </script>

    <!--base js-->
    <script src="/base/dist/js/base.min.js"></script>

    <!--page js-->
    <% javascipts.forEach(function(script){ %>
    <script src="<%= script %>"></script>
    <% }) %>

    <!--page js-->
    <% requirejavascipts.forEach(function(script){ %>
    <script>
        require(['<%= script %>'])
    </script>
    <% }) %>


</head>
<body>

<div id="app">
    <div class="body-main screen">
        <%= body %>
    </div>
</div>
</body>
</html>