/* CSS Document */
/*nav*/
.nav {
	position: absolute;
	border: 1px solid #d3d3d3;
	border-radius: 6px;
	top: 132px;
	left: 95px;
	height:50px;
	background: rgb(197, 196, 196);
	box-shadow: 7px 7px 10px #584D4D;
}
.nav li{
position:relative;
float:left;
margin-left: 6px;
margin-right: 6px;
line-height:50px;}
.nav li a{
text-decoration:none;
color: #5C4C5B;
}
.nav li a:link {
 color: #000000;
 TEXT-DECORATION: none
}
.nav li a:visited {
 COLOR: #000000;
 TEXT-DECORATION: none
}
.nav li a:hover {
 COLOR: #ff7f24;
 text-decoration: underline;
}
.nav li a:active {
 COLOR: #ff7f24;  
 text-decoration: underline;
}
/*nav*/
/*main*/
.main{margin-top: 100px;
margin-left: 100px;
margin-right: 100px;}

/*main*/

